<%- include ('./partials/header') %>
    <body class="container">
        <div class="parent">
            <div class="child">
                <h1>Francisco</h1>
                <form method="get" action="/results">
                    <input 
                        name="search" 
                        type="text"
                        placeholder="search Francisco or enter a URL" 
                        required
                    >
                </form>
            </div>
        </div>
        <div class="fixed">Made with ❤️</div>
<%- include ('./partials/footer') %>